# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [4]:
from sklearn.model_selection import train_test_split as tts

In [22]:
boston = pd.DataFrame(load_boston().data, columns=load_boston().feature_names)

In [5]:
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [6]:
from sklearn.linear_model import LinearRegression as LinReg

In [7]:
bostonreg=LinReg()

In [9]:
bostonreg.fit(X_train, y_train)

LinearRegression()

In [12]:
print(bostonreg.coef_)
print(bostonreg.intercept_)

[[-1.10676543e-01  5.76733471e-02  3.93049382e-02  2.61937017e+00
  -2.33373260e+01  3.07758007e+00  2.41838434e-02 -1.55990100e+00
   3.46140139e-01 -1.26316266e-02 -1.09027134e+00  8.27563320e-03
  -5.94402718e-01]]
[46.00248393]

In [17]:
y_pred_train = bostonreg.predict(X_train)
y_pred_test = bostonreg.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [25]:
from sklearn import metrics

In [26]:
y_train_predict = bostonreg.predict(X_train)
metrics.r2_score(y_train, y_train_predict)

0.7454932046492011

In [27]:
y_test_predict = bostonreg.predict(X_test)
metrics.r2_score(y_test, y_test_predict)

0.6940419221758123

## 4. Calculate and print mean squared error for both the training and the testing set.

In [28]:
metrics.mean_squared_error(y_test, y_test_predict)

21.870073964997534

In [30]:
metrics.mean_squared_error(y_train, y_train_predict)

22.30092192317605

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [31]:
metrics.mean_absolute_error(y_test, y_test_predict)

3.3487385083448853

In [32]:
metrics.mean_absolute_error(y_train, y_train_predict)

3.3579610239060487

## Classification Model Evaluation

In [33]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [34]:
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [38]:
from sklearn.linear_model import LogisticRegression

In [39]:
irislog = LogisticRegression()

In [40]:
irislog.fit(X,y)

/home/luisserrano/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/luisserrano/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [52]:
y_pred_train = irislog.predict(X_train)
y_pred_test = irislog.predict(X_test)

In [44]:
df_reducido = data[0:100]
display(df_reducido)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,1
96,5.7,2.9,4.2,1.3,1
97,6.2,2.9,4.3,1.3,1
98,5.1,2.5,3.0,1.1,1
99,5.7,2.8,4.1,1.3,1

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [68]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score, confusion_matrix,balanced_accuracy_score

In [56]:
accuracy_score(y_train,irislog.predict(X_train))

0.975

In [57]:
accuracy_score(y_test,irislog.predict(X_test))

0.9666666666666667

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [70]:
balanced_accuracy_score(y_train,irislog.predict(X_train))

0.975

In [69]:
balanced_accuracy_score(y_test,irislog.predict(X_test))

0.9666666666666667

## 10. Calculate and print the precision score for both the training and the testing set.

In [65]:
 precision_score(y_train,irislog.predict(X_train),average="weighted")

0.9751928288513655

In [64]:
 precision_score(y_test,irislog.predict(X_test),average="weighted")

0.9696969696969696

## 11. Calculate and print the recall score for both the training and the testing set.

In [63]:
 recall_score(y_train,irislog.predict(X_train),average="weighted")

0.975

In [62]:
 recall_score(y_test,irislog.predict(X_test),average="weighted")

0.9666666666666667

## 12. Calculate and print the F1 score for both the training and the testing set.

In [67]:
f1_score(y_train,irislog.predict(X_train),average="weighted")

0.9749960931395532

In [66]:
f1_score(y_test,irislog.predict(X_test),average="weighted")

0.9665831244778613

## 13. Generate confusion matrices for both the training and the testing set.

In [74]:
y_train_predict =  irislog.predict(X_train)
pd.crosstab(
    y_train["class"],
   y_train_predict)

col_0   0   1   2
class
0      40   0   0
1       0  38   2
2       0   1  39

In [76]:
pd.crosstab(
   y_test["class"],
   irislog.predict(X_test)
)

col_0   0  1   2
class
0      10  0   0
1       0  9   1
2       0  0  10

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.